# Deep Learning
torch
torchvision
torchaudio
torchcodec

# Data Processing
numpy
pandas
scipy
# Audio Processing
librosa
soundfile

# Visualization & Notebook
jupyter
matplotlib
seaborn

# Utilities
tqdm
